{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sarabun:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/ube.css"/>
  <link rel="icon" type="image/png" href="/images/ube-logo.png"/>
{% endblock %}

{% block bodytag %}{{ super() }} class="ube-body"{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/js/ube.js" defer></script>
{% endblock %}
